*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fundo img{
    height: 220px;
    width: 100%;
}

.logo {
    display: flex;
}
.logo img{
    height: 150px;
    width: 142px;
    margin-top: -175px;
    margin-left: 30px;
}

.titulo{
    color: #83BEDF;
    font-size: 1.3em;
    font-family: arial;
    margin-top: -70px;
    margin-left: 120px;
}

.medicos img{
    height: 200px;
    width: 500px;
    margin-left: 500px;
    margin-top: -183px;
}

.telefone img{
    height:50px ;
    width: 47px;
    margin-left: 1170px;
    margin-top: -150px;
    display: flex;
}

.telefone h2{
    font-size: 2.2em;
    margin-left: 1225px;
    margin-top: -45px;
}

.redessociais{
    display: flex;
    margin-left: 1170px;
    margin-top: 20px;
}

.twitter img{
    height:55px ;
    width: 50px;
}

.facebook img{
    height: 55px;
    width: 50px;
    margin-left: 20px;
}

.instagram img{
    height: 55px;
    width: 50px;
    margin-left: 20px;
}

.linkedin img{
    height: 55px;
    width: 50px;
    margin-left: 20px;
}

.quadrado{
    height: 90px;
    background-color: #85C688;
    display: flex;
}

.quadrado ul{
    color: black;
    font-size: 2em;
    margin-left: 50px;
    margin-top: 38px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario {
    flex-direction: column;
    display: flex;
}

.fundo2 img{
    width: 100%;
    height: 752px;
}

.quadrado5{
    height: 540px;
    width: 889px;
    background-color: white;
    margin-top: 60px;
    margin-left: 320px;
    border-radius: 20px;
}

.fundo2 h3{
    margin-top: -700px;
    margin-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

.quadrado5 h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.8em;
    color: #276272;
    margin-left: 300px;
    margin-top: 30px;
}

.prontuarioInput{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    margin-left: 230px;
    padding-top: 35px;
}

.prontuarioInput input{
    border-radius: 6px;
    height: 35px;
    width: 245px;
    margin-left: 10px;
}

.medicoInput{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    margin-left: 230px;
    padding-top: 25px;
}

.medicoInput input{
    border-radius: 6px;
    height: 35px;
    width: 250px;
    margin-left: 32px;
}

.dataInput{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    margin-left: 230px;
    padding-top: 25px;
}

.dataInput input{
    border-radius: 6px;
    height: 35px;
    width: 200px;
    margin-left: 10px;
}

.situacaoInput{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    margin-left: 230px;
    padding-top: 25px;
}

.descricaoInput input{
    border-radius: 6px;
    height: 35px;
    width: 250px;
    margin-left: 32px;
}

.descricaoInput{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    margin-left: 230px;
    padding-top: 25px;
}

.situacaoInput input{
    border-radius: 6px;
    height: 35px;
    width: 250px;
    margin-left: 32px;
}

.botao_enviar input{
    background: #53C160;
    height: 45px;
    width: 200px;
    color: white;
    border-radius: 10px;
    margin-left: 330px;
    margin-top: 50px;
    font-size: 1.4em;
}
  