*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fundo img{
    height: 220px;
    width: 100%;
}

.logo {
    display: flex;
}
.logo img{
    height: 150px;
    width: 142px;
    margin-top: -175px;
    margin-left: 30px;
}

.titulo{
    color: #83BEDF;
    font-size: 1.3em;
    font-family: arial;
    margin-top: -70px;
    margin-left: 120px;
}

.medicos img{
    height: 200px;
    width: 500px;
    margin-left: 500px;
    margin-top: -183px;
}

.telefone img{
    height:50px ;
    width: 47px;
    margin-left: 1170px;
    margin-top: -150px;
    display: flex;
}

.telefone h2{
    font-size: 2.2em;
    margin-left: 1225px;
    margin-top: -45px;
}

.redessociais{
    display: flex;
    margin-left: 1170px;
    margin-top: 20px;
}

.twitter img{
    height:55px ;
    width: 50px;
}

.facebook img{
    height: 55px;
    width: 50px;
    margin-left: 20px;
}

.instagram img{
    height: 55px;
    width: 50px;
    margin-left: 20px;
}

.linkedin img{
    height: 55px;
    width: 50px;
    margin-left: 20px;
}

.quadrado{
    height: 90px;
    background-color: #85C688;
    display: flex;
}

.quadrado ul{
    color: black;
    font-size: 2em;
    margin-left: 50px;
    margin-top: 38px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

.login {
    flex-direction: column;
    display: flex;
}

.fundo2 img{
    width: 100%;
    height: 752px;
}

.quadrado4{
    height: 620px;
    width: 620px;
    background-color: white;
    margin-top: -700px;
    margin-left: 450px;
    border-radius: 20px;
}

.loga h3{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    margin-left: 200px;
    padding-top: 50px;
}

.emailInput{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.7em;
    padding-top: 50px;
    margin-left: 150px;
}

.senhaInput{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.7em;
    padding-top: 50px;
    margin-left: 150px;
}

.emailInput input{
    border-radius: 6px;
    height: 40px;
    margin-left: 17px;
    padding-top: 20px;
    width: 200px;
}

.senhaInput input{
    border-radius: 6px;
    height: 40px;
    padding-top: 20px;
    width: 200px;
}

.loga p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 340px;
}

.botao_entrar input{
    background: #53C160;
    height: 50px;
    width: 250px;
    color: white;
    border-radius: 10px;
    margin-left: 190px;
    margin-top: 30px;
    font-size: 1.7em;
}

.botao_cadastra input{
    background: #53C160;
    height: 50px;
    width: 250px;
    color: white;
    border-radius: 10px;
    margin-left: 190px;
    margin-top: 50px;
    font-size: 1.7em;
}
